.adventure {
    background-color: $bg2;

    .head {
      padding-top: 100px;
      padding-left: 255px;
    }

    
    form {
        display:flex;
        flex-direction:row;
        width: 430px;
        height: 40px;
        border:3px solid black;
        background-color: white;
        border-radius: 40px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 35px;
      
      input {
        flex-grow: 2;
        border-radius: 40px;
        border:none;
      }
      
      button {
        border: none;
        background-color: transparent;
        width: 40px;
        color:black;
      }
    }

    .container {
        position: relative;
        color: white;

        .bottomleft {
            position: absolute;
            bottom: 0px;
            left: 30px;
            line-height: 60px;
          }
    }

    .hikingimg {
        background-image: url(/deploy/img/adventure/hiking.jpg);
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    .beachimg {
        background-image: url(/deploy/img/adventure/beachlounging.jpg);
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    .snorkelimg {
        background-image: url(/deploy/img/adventure/snorkeling.jpg);
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    .ziplineimg {
      background-image: url(/deploy/img/adventure/ziplining.jpg);
        height: 500px;
        width: 500px;
        background-size: cover;
    }

    .img1 {

      .a-image1 {
        background: url(/deploy/img/adventure/belizereef.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img2 {

      .a-image2 {
        background: url(/deploy/img/adventure/centralcoast.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img3 {

      .a-image3 {
        background: url(/deploy/img/adventure/northisland.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img4 {

      .a-image4 {
        background: url(/deploy/img/adventure/northernbelize.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img5 {

      .a-image5 {
        background: url(/deploy/img/adventure/southeastcoast.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img6 {

      .a-image6 {
        background: url(/deploy/img/adventure/southernbelize.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img7 {

      .a-image7 {
        background: url(/deploy/img/adventure/westernbelize.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .img8 {

      .a-image8 {
        background: url(/deploy/img/adventure/more.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    .more {
      display: flex;
      padding-left: 600px;
      padding-top: 25px;
      padding-bottom: 25px;

      .fas {
        padding-left: 10px;
        padding-top: 13px;
      }
    }

    .insta {
      display: flex;
      padding-left: 500px;

      .fab {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 20px;
      }
    }

    .agent {

      button {
        border: none;
        background-color: $deepseablue;
        color: white;
        padding: 15px;
        border-radius: 8px;
        margin-left: 610px;
        margin-bottom: 130px;
      }
    }

    h6 {
      font-size: 48px;
      font-weight: 400;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    h4 {
      font-size: 30px;
      font-weight: 400;
    }
}