.callout {

    .callouttext {

        margin-bottom: -5px;

        .callout-centered {
            position: relative;
            top: 50%;
            left: 500px;
            color: white;
          }
    }

    .image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cliff {
        background-image: url(/deploy/img/callout/bigadventure.jpg) cover;
        height: 300px;
        width: 100%;
        object-fit: cover;
        
    }
}