.callout {
    
    .container {
        position: relative;
        text-align: center;
        color: white;

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    }

    .cliff {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}