.culture {

    h2 {
        padding-left: 285px;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .shells {
        width: 360px;
        height: 480px;
        object-fit: cover;
        
    }

    .block-img {
        padding-left: 220px;
        padding-bottom: 160px;
    }

    .mayan {
        width: 490px;
        height: 230px;
        object-fit: cover;
        padding-right: 20px;
    }

    .boat {
        width: 490px;
        height: 230px;
        object-fit: cover;
    }

    .culture-info {
        display: flex;
        line-height: 25px;
        
        

        .top {
            width: 500px;
            padding-left: 310px;
        }
    }

    span {
        padding-top: 0px;
        padding-left: 55px;
        padding-bottom: 40px;
    }

    
}