.header {
    width: 100%;

    .image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .headerimg {
        background-image: url(/deploy/img/header/headerbg.jpg) cover;
        height: 600px;
        width: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
      }

    .text {
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 135px;
        padding-bottom: 135px;
    }
}