.health {

    background-color: #245d83;
    color: white;

    .warning {
        width: 130px;
        padding-top: 15px;
        padding-left: 100px;
    }

    .health-text {
        width: 830px;
        padding: 30px;
    }
}