.nav {
    background-color: $deepseablue;

    h3 {
        color: white;
        text-decoration: none;
    }

    .leopard {
        width: 130px;
    }

    .jeep {
        width: 130px;
    }

    .drums {
        width: 130px;
    }

    .fire {
        width: 130px;
    }

    .lobster {
        width: 130px;
    }
}