.wildlife {

    h2 {
        padding-left: 285px;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .monkey {
        padding-left: 235px;
        padding-bottom: 30px;
    }

    .toucan {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }

    .firstp {
        width: 575px;
    }

    .secondp {
        width: 830px;
        padding-left: 320px;
        padding-top: 35px;
        padding-bottom: 140px;
    }

    .aligned {
        display: flex;
    }
       
    span {
        padding-top: 0px;
        padding-left: 30px;
    }

    .mammals {
        padding-left: 160px;
        padding-top: 50px;

        h4 {
            padding-left: 55px;
            padding-bottom: 15px;
        }

        h5 {
            padding-left: 98px;
        }
        
        .fa-chevron-left {
            position: absolute;
            padding-top: 110px;
            margin-left: -20px;
        }

        .fa-chevron-right {
            position: absolute;
            padding-top: 110px;
            padding-left: 10px;
        }
    }
}