/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}
	main {
		display: grid;
		grid-template-areas: 
		"header"
		"nav"
		"wildlife"
		"callout"
		"adventure"
		"health"
		"culture"
		"events"
		"cuisine"
		"footer";

		@mixin md {
			grid-template-areas: 
			"header header header header header header header header"
			"nav nav nav nav nav nav nav nav"
			"wildlife wildlife wildlife wildlife wildlife wildlife wildlide wildlife"
			"callout callout callout callout callout callout callout callout"
			"adventure adventure adventure adventure adventure adventure adventure adventure"
			"health health health health health health health health"
			"culture culture culture culture culture culture culture culture"
			"events events events events events events events events"
			"cuisine cuisine cuisine cuisine cuisine cuisine cuisine cuisine"
			"footer footer footer footer footer footer footer footer";
		}

		.header {
			grid-area: header;
			display: grid;

			

			.headerimg {
				grid-template-columns: auto;
			}
		}

		.nav {
			grid-area: nav;
			display: grid;

			.traveling {
				display: grid;
			}
		}

		.wildlife {
			grid-area: wildlife;
			display: grid;
		}

		.callout {
			grid-area: callout;
			display: grid;

			grid-template-columns: 1440px;
		}

		.adventure {
			grid-area: adventure;
			display: grid;

			.image-gallery {
				.images {
				  display: grid;
				  grid-template-columns: repeat(4, 200px);
				  grid-template-rows: repeat(2, 200px);
				  grid-gap: 35px;
				  justify-content: center;
				}
			}

			.four-block-img {
				.imgs {
					display: grid;
					grid-template-columns: repeat(2, 500px);
					justify-content: center;
				}
			}
		}

		.health {
			grid-area: health;
			display: grid;
		}

		.culture {
			grid-area: culture;
			display: grid;
		}

		.events {
			grid-area: events;
			display: grid;
		}

		.cuisine {
			grid-area: cuisine;
			display: grid;
		}

		.footer {
			grid-area: footer;
			display: grid;

			.left-info {
				display: grid;
				grid-template-columns: 150px;
			}

			.right-info {
				display: grid;
				grid-template-columns: 118px 190px;
				padding-top: 10px;
				padding-bottom: 5px;
			}

			.right-info-b {
				display: grid;
				grid-template-columns: 100px 110px 110px;
			}
	
			@include lg {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
				grid-template-areas: 
				"contact cw";
	
				.contact {
					margin: auto;
					margin-top: 20px;
				}
	
				.cw {
					margin: auto;
					margin-top: 20px;
					text-align: right;
					
				}
			}
		}
	}
